<!DOCTYPE html>
<html>
  <head>
    <title>FCC Header Parser</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link  rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/client.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <div class="title">
          <span>Manage Node.js projects and npm packages using package.json</span><br>
          <span class="sub_title">Part 2 of Free Code Camp Backend Challenges</span><br><br>
      </div>
      <div class="middler">
          <span class="mid_title"><h4><b>Request Header Parser</b></h4></span>
        <span class="sub_mid_title"><b>AUser Stories:</b></span><br>
              <ol>
                <li>I can get the IP address, language and operating 
                  system for my browser.
                </li>
                <li>You can do it just... by typing the URL as in 'Example Usage'
                </li>
                <li>As well as, by pressing the button below. 
                </li>
              </ol>
        <a href="https://fcc-head-parser.glitch.me/yourdata" target="_blank"><button class="btn  btn-sm btn-default">
          Press me
        </button></a><br><br>
        <span class="sub_mid_title"><b>Example usage:</b></span><br>
            <pre><code>https://fcc-head-parser.glitch.me/yourdata</code><br></pre>
        <span class="sub_mid_title" id="link"><b>Example output:</b></span><br>
          <code>{ "youIP":null,"languageYouSpeak":null,"softwareYouUse":"null }</code><br><br>
          <a href="https://github.com/kmzAnton/FCC-GLITCH-HEADER-PARSER" target="_blank">Visit GitHub Repository</a>
        </div> 
      </div>
  </body>
</html>
